# Data Programming

## Problem Set 2

## Amrit Kaur

### 1. What value is displayed when the last expression (a) is evaluated? Explain youranswer by indicating what happens in every executed statement.

In [4]:
a = 0  
def b():  
    global a                              #Global variable a will be used  
    a = c(a)                                  #function call c(0)
def c(a):  
    return a + 2         
b()                                        #will return a=0+2= 2*  
b()                                        # As value of a is changed to 2, it will return a=2+2=4*  
b()                                        #*a=4+2=6*  
a                                          #a=6*

6

### 2.Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
fileLength('idterm.py')  
Traceback (most recent call last):  
File "<pyshell#34>", line 1, in <module>  
 fileLength('idterm.py')  
File "/Users/me/midterm.py", line 3, in fileLength  
 infile = open(filename)  
FileNotFoundError: [Errno 2] No such file or directory:  
'idterm.py'  

**As shown , if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:**

In [19]:
def fileLength(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))   
       
    except FileNotFoundError:
             print("File {} not found.".format(file_name))   #message to  show if file not found
        

fileLength('idterm.py')

File idterm.py not found.

### 3.Write a class named Marsupial that can be used as shown below:
 m = Marsupial()  
 m.put_in_pouch('doll')  
 m.put_in_pouch('firetruck')  
 m.put_in_pouch('kitten')  
 m.pouch_contents()  
['doll', 'firetruck', 'kitten']  
**Now write a class named Kangaroo as a subclass of Marsupial that inherits all the  
attributes of Marsupial and also:  
a. extends the Marsupial __init__ constructor to take, as input, the  
coordinates x and y of the Kangaroo object,  
b. supports method jump that takes number values dx and dy as input and  
moves the kangaroo by dx units along the x-axis and by dy units along the yaxis, and  
c. overloads the __str__ operator so it behaves as shown below.**      
 k = Kangaroo(0,0)  
 print(k)  
I am a Kangaroo located at coordinates (0,0)  
 k.put_in_pouch('doll')  
 k.put_in_pouch('firetruck')  
 k.put_in_pouch('kitten')  
 k.pouch_contents()  
['doll', 'firetruck', 'kitten']  
 k.jump(1,0)  
 k.jump(1,0)  
 k.jump(1,0)   
 print(k)  
I am a Kangaroo located at coordinates (3,0)

In [45]:
class Marsupial():  #class to show list contents
    def __init__(self):
          self.toys=[]
    
    def put_in_pouch(self,toy):
            self.toys.append(toy)
            
    def pouch_contents(self):
         print(self.toys)
    

class Kangaroo(Marsupial):                                       #inherits Marsupial class 
    def __init__(self,x,y):   
         Marsupial.__init__(self)
         self.xcord=x
         self.ycord=y
    def jump(self,dx,dy):                                        #jump to coordinates
        self.xcord += dx
        self.ycord += dy
    def __str__(self):    
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.xcord,self.ycord)
    
k = Kangaroo(0,0)                     
print(k)

k.put_in_pouch('doll')
k.put_in_pouch('firetruck') 
k.put_in_pouch('kitten')
k.pouch_contents()                        ## function calls

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

### 4.Implement a new GUI class App that combines user-defined tkinter widget classes Calculator and Mortgage

In [63]:
#output in word file attached in blackboard
from tkinter import Tk,Label,LEFT,Button,Entry,Frame,RIGHT,GROOVE
root=Tk()
root['bg']='white'

class Mortrage():          #Mortrage GUI
    labl=Label(root,bg='white',text='Loan Amount:')
    labl.grid(row=1 , column=0)
    labl=Label(root, bg='white',text='Interest Amount:')
    labl.grid(row=2 , column=0)
    labl=Label(root, bg='white',text='Loan Terms:')
    labl.grid(row=3 , column=0)
    calculate=Button(root, bg='white',text='Compute Mortrage:')
    calculate.grid(row=4 , column=0)
    for i in range(0,4):
        enter=Entry(root)
        enter.grid(row=i+1 , column=1)


    entry = Entry(root,bg='grey',relief='raised')
    entry.grid(row=0,column=3, columnspan=50,ipadx=28,ipady=8)     #Calculator GUI
   
    MC=Button(root,bg='white', padx=15,text='MC')
    MC.grid(row=1,column=3)
    Mp=Button(root,bg='white', padx=15,text='M+')
    Mp.grid(row=1,column=4)
    Mm=Button(root,bg='white', padx=15,text='M-')
    Mm.grid(row=1,column=5)
    Mr=Button(root,bg='white', padx=15,text='MR')
    Mr.grid(row=1,column=6) 
    c=Button(root,bg='white',padx=20,text='C')
    c.grid(row=2,column=3)
    r=Button(root,bg='white', padx=20,text='‚àö')
    r.grid(row=2,column=4)
    s=Button(root,bg='white',padx=15,text='x¬≤ ')
    s.grid(row=2,column=5)
    Add=Button(root,bg='white',padx=20,text='+')
    Add.grid(row=2,column=6)
    b_7=Button(root,bg='white', padx=20,text='7')
    b_7.grid(row=3,column=3)
    b_8=Button(root,bg='white', padx=20,text='8')
    b_8.grid(row=3,column=4)
    b_9=Button(root,bg='white', padx=20,text='9')
    b_9.grid(row=3,column=5)
    mi=Button(root,bg='white', padx=22,text='-')
    mi.grid(row=3,column=6)
    b_4=Button(root,bg='white', padx=20,text='4')
    b_4.grid(row=4,column=3)
    b_5=Button(root,bg='white', padx=20,text='5')
    b_5.grid(row=4,column=4)
    b_6=Button(root,bg='white', padx=20,text='6')
    b_6.grid(row=4,column=5)
    mul=Button(root,bg='white', padx=20,text='*')
    mul.grid(row=4,column=6)
    b_1=Button(root,bg='white', padx=20,text='1')
    b_1.grid(row=5,column=3)
    b_2=Button(root,bg='white', padx=20,text='2')
    b_2.grid(row=5,column=4)
    b_3=Button(root,bg='white', padx=20,text='3')
    b_3.grid(row=5,column=5) 
    div=Button(root,bg='white', padx=20,text='/')
    div.grid(row=5,column=6)
    b_0=Button(root,bg='white', padx=20,text='0')
    b_0.grid(row=6,column=3)
    dot=Button(root,bg='white', padx=22,text='.')
    dot.grid(row=6,column=4)
    pm=Button(root,bg='white', padx=15,text='+-')
    pm.grid(row=6,column=5)
    eq=Button(root,bg='white', padx=17,text='=')
    eq.grid(row=6,column=6)
   
    
    
root.mainloop()

### 5.Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = {ùë•/2 ùëñùëì ùë• ùëñùë† ùëíùë£ùëíùëõ  
x=  {3ùë• + 1 ùëñùëì ùë• ùëñùë† ùëúùëëùëë  

### Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [78]:
def Collatz(x):
    print(x)
    if x==1:                                   #function stop at x= 1
            return x
    elif x%2==0:
        x=int(x/2)
    else: x=int(3*x+1)
    Collatz(x)        
  
Collatz(10)

10
5
16
8
4
2
1

### 6.Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [33]:
def binary(n):
    if n>1:
        binary(n//2)   #recursive call floor value of n/2
    elif n<0:
        print("\nEnter positive number") #error mesage if user enters negative number
        return
    print(n%2,end="")     
binary(0)  
print("\n")
binary(1)
print("\n")  
binary(3) 
print("\n")
binary(9) 
binary(-1)

0

1

11

1001
Enter positive number

### 7.Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
infile = open('w3c.html')  
content = infile.read()  
infile.close()  
hp = HeadingParser()  
hp.feed(content)  
W3C Mission  
Principles

In [34]:
from html.parser import HTMLParser
class HeadingParser(HTMLParser):
    def __init(self):
        HTMLParser.__init__(self)
        self.indent = 0
    def handle_starttag(self,tag,attrs):
         self.i=tag
         self.indent = 0

    def handle_data(self,data):
        if self.i=="h1":
            print('{}{}'.format(self.indent*' ',data))
        elif self.i=="h2":
             self.indent+=1                                    #increase indent if h2
             print('{}{} '.format(self.indent*' ', data))
            
        elif self.i=="h3":
            self.indent=2                                      #increase indent if h2
            print('{}'.format(self.indent*' ',data))
            
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission


 Principles

### 8.Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.  

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)  
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html  
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html  
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html  
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html  
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [35]:
#Took help from ppt and other resources, could not get output, please provide solution if possible
from urllib.request import Request, urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collector(HTMLParser):
    #'collects hyperlink URLs into a list'

    def __init__(self, url):
     #   'initializes parser, the url, and a list'
        HTMLParser.__init__(self)
        self.url = url
        self.links = []

def handle_starttag(self, tag, attrs):
      #  'collects hyperlink URLs in their absolute format'
        if tag == 'a':
            for attr in attrs:
                if attr[0] == 'href':
                    # construct absolute URL
                    absolute = urljoin(self.url, attr[1])
                    if absolute[:4] == 'http': # collect HTTP URLs
                        self.links.append(absolute)
                        
def getLinks(self):
       # 'returns hyperlinks URLs in their absolute format'
        return self.links
    
def analyze(url):
    rqst=Request(url,headers={'User Agent': 'XYZ/3.0'})
    wbpage=urlopen(rqst, timeout=10).read().decode()
    collector=Collector(url)
    collector.feed(wbpage)
    urls=collector.getLinks()
    return urls

def webdir(url, depth,indent):
    if(depth==-1):
        return
    try:
        pages=analyze(url)
    except:
            return
    for x in range(0,indent):
        print("\t",end=" ")
        
    print(url)
    
    for links in pages:
        
        webdir(links,depth-1, indent+1)
        
url = 'http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
webdir(url,2,0)

### 9.Write SQL queries on the below database table that return:

In [38]:
%load_ext sql

In [39]:
%sql sqlite://

'Connected: @None'

In [40]:
%%sql CREATE TABLE WEATHER (CITY VARCHAR(20), COUNTRY VARCHAR(20),SEASON VARCHAR(20),TEMPERATURE_C FLOAT,RAINFALL FLOAT);
INSERT INTO WEATHER VALUES ('Mumbai', 'India','Winter', 24.8,5.9);
INSERT INTO WEATHER VALUES ('Mumbai','India','Spring', 28.4,16.2);
INSERT INTO WEATHER VALUES ('Mumbai','India','Summer', 27.9,1549.4);
INSERT INTO WEATHER VALUES ('Mumbai','India', "Fall", 27.6,346.0);   
INSERT INTO WEATHER VALUES ('London','United Kingdom', 'Winter',4.2,207.7);
INSERT INTO WEATHER VALUES ('London','United Kingdom', "Spring", 8.3,169.6);                           
INSERT INTO WEATHER VALUES ('London','United Kingdom', "Summer",15.7,157.0);                          
INSERT INTO WEATHER VALUES ('London','United Kingdom', "Fall",10.4,218.5);
INSERT INTO WEATHER VALUES ('Cairo', 'Egypt', "Winter", 13.6, 16.5);
INSERT INTO WEATHER VALUES ('Cairo', 'Egypt', 'Spring',20.7,6.5);    
INSERT INTO WEATHER VALUES ('Cairo', 'Egypt', 'Summer',27.7,0.1);
INSERT INTO WEATHER VALUES ('Cairo','Egypt','Fall',22.2,4.5);

 * sqlite://
Done.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

In [13]:
%sql SELECt * FROM WEATHER

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### a) All the temperature data.

In [14]:
%sql SELECT TEMPERATURE_C FROM WEATHER;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

### b) All the cities, but without repetition.

In [44]:
%sql SELECT DISTINCT CITY FROM WEATHER

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

### c) All the records for India

In [45]:
%sql SELECT * FROM WEATHER WHERE COUNTRY="India"

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

### d) All the Fall records.

In [18]:
%sql SELECT * FROM WEATHER WHERE SEASON="Fall"

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

### e)The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

In [47]:
%sql SELECT CITY, COUNTRY ,SEASON FROM WEATHER WHERE RAINFALL BETWEEN 200 AND 400

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

### f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [49]:
%sql SELECT CITY, COUNTRY FROM WEATHER WHERE SEASON="Fall" AND TEMPERATURE_C>20 ORDER BY TEMPERATURE_C

 * sqlite://
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

### g) The total annual rainfall for Cairo.

In [28]:
%sql SELECT SUM(RAINFALL) FROM WEATHER WHERE CITY='Cairo'

 * sqlite://
Done.

[(27.6,)]

### h) The total rainfall for each season.

In [37]:
%sql SELECT SUM(RAINFALL) FROM WEATHER GROUP BY SEASON

 * sqlite://
Done.

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

 ### 10.Suppose list words is defined as follows:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']  
Write list comprehension expressions that use list words and generate the following lists:  
#### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE','LAZY', 'DOG']

In [52]:
words=['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

a=[w.upper() for w in words]
print(a)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog']

In [61]:
b=[w.lower() for w in words]
print(b)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [57]:
c=[len(w) for w in words]
print(c)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN','brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',4], ['DOG', 'dog', 3]]   
(the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [59]:
d=[[w.upper(),w.lower(),len(w)] for w in words]
print(d)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the','lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [65]:
c=[w for w in words if len(w)>3]
print(c)

['quick', 'brown', 'jumps', 'over', 'lazy']